<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Analizador Lexico</title>
</head>
<body>
    <h1>Analizador Lexico</h1>
    <form name="myForm">
        <input name="myInput" type="file">
        <input type="file" id="file-input" />
    <table width="280" cellspacing="1" cellpadding="3" border="0" bgcolor="#1E679A"> 
        <tr> 
           <td><font color="#FFFFFF" face="arial, verdana, helvetica"> 
        <b>Contenido del archivo:</b> 
           </font></td> 
        </tr> 
        <tr> 
           <td bgcolor="#ffffcc"> 
           <font face="arial, verdana, helvetica"> 
            <pre id="contenido-archivo"></pre>
           </font> 
           </td> 
        </tr> 
        </table> 
    </form>

        
          <script type="text/javascript" src="./leer.js"></script>
    <script type="text/javascript" src="./archivo.js"></script>
</body>
</html>