<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Analizador Lexico</title>
</head>
<body>
        <header id="main-header">
		
                <a id="logo-header" href="#">
                <span class="site-name">Primer Proyecto</span>
                </a> <!-- / #logo-header -->
         
            </header><!-- / #main-header -->
 
    <input class="boton" type="button" value="Informacion Estudiante" name="b1" OnClick="location.href='./info.html' ">
    <input class="boton" type="button" value="Analizador Lexico" name="b2" OnClick="location.href='./analizador.html' ">
</body>
</html>