<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css" type="text/css">
    <title>Informacion</title>
</head>
<body>
        <header id="main-header">
		
                <a id="logo-header" href="#">
                <span class="site-name">Jose Alejandro Barrios Rodas</span>
                <span class="site-desc">201831234 / Ingenieria en Ciencias y Sistemas</span>
               </a>   
        </header>
        <h2>>Universidad de San Carlos de Guatemala</h2>
        <h2>>Centro Universitario de Occidente</h2>
        <h2>>Primer Proyecto</h2>
        <h2>>Lenguajes Formales y de Programacion</h2>
        <h2>>Ing. Oliver Sierra</h2>

</body>
</html>